.mw_150{
    /* background-color: aqua; */
    max-width: 150px;
}
/* ul,li{
    padding: 0;
    margin: 0;

} */
.bg-cover{
    background-size: cover;
}

.competence{
    height: 100px;
}

body{
    background-color: blue;
}

.etablissement{
    height: 100px ;
}