@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media print {
  /* Réinitialisation complète des marges, paddings, etc. */
  * {
    all: unset; /* Réinitialise presque tous les styles */
    box-sizing: border-box; /* Pour forcer les bordures à s'ajuster correctement */
  }

  head,
  script {
    display: none;
  }

  /* Réactiver certains styles de base pour rendre le contenu imprimable */
  body {
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
  }

  /* Assurer que les titres et le texte soient visibles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 0.5rem 0;
    color: black;
  }

  p,
  div {
    margin: 0.5rem 0;
    color: black;
  }

  /* Appliquer des styles Tailwind spécifiques à l'impression */
  .print\:bg-white {
    background-color: white;
  }

  .print\:text-black {
    color: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
